[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to A Samba VFS Tutorial
Type=Link
URL=http://www.geocities.com/orville_torpid/papers/vfs_tutorial.html
Icon=gnome-fs-bookmark
